
<div class="title-slide-prods">
  <hr><h2>Marcas más buscadas</h2>
</div>



<div class="slider-prods-container">
    <div class="slider">
        <div class="slide-track">
          <div class="slide"><img src="../../../assets/img/marcas/nvidia-logo.png" alt="">
          </div>
          <div class="slide"><img src="../../../assets/img/marcas/intel-logo.png" alt="">
          </div>
          <div class="slide"><img src="../../../assets/img/marcas/asus-logo.png" alt="">
          </div>
          <div class="slide"><img src="../../../assets/img/marcas/calvin-logo.png" alt="">
          </div>
          <div class="slide"><img src="../../../assets/img/marcas/nike-logo.png" alt="">
          </div>
    
          <div class="slide"><img src="../../../assets/img/marcas/nvidia-logo.png" alt="">
          </div>
          <div class="slide"><img src="../../../assets/img/marcas/zara-logo.png" alt="">
          </div>
          <div class="slide"><img src="../../../assets/img/marcas/gucci-logo.png" alt="">
          </div>
          <div class="slide"><img src="../../../assets/img/marcas/chanel-logo.png" alt="">
          </div>
          <div class="slide"><img src="../../../assets/img/marcas/logo-Maybelline.png" alt="">
          </div>
        </div>
      </div>
    
</div>