<!----Section information start-->
<section class="header-top">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <ul>
                  <li><a href="#">Cuenta</a></li>
                  <li><a href="#">Verificar</a></li>
                  <li><a href="#">Inicio</a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <div class="icon">
                 <a href="#"><i class="fa fa-facebook"></i></a>
                 <a href="#"><i class="fa fa-twitter"></i></a>
                 <a href="#"><i class="fa fa-google-plus"></i></a>
                 <a href="#"><i class="fa fa-linkedin"></i></a>
                 <a href="#"><i class="fa fa-wifi"></i></a>
              </div>
          </div>
          <div class="col-md-4">
             <div class="a-right">
                  <a href="#"><p><span><i class="fa fa-user"></i></span>Iniciar sesion</p></a>
                  <a href="#"><p><span><i class="fa fa-pencil"></i></span>Registrar</p></a>
             </div>
          </div>
      </div>
  </div>
</section>
<!----Section information end-->



<!----Section search start-->
<section class="header-catagory">
    <div class="infonav-container">
      <div class="category">
        <p>
          <a href="#"
            ><i class="fa fa-phone"></i> <span>(+593) 000 000 000</span>
          </a>
          <a href="#"
            ><i class="fa fa-envelope-o" aria-hidden="true"></i>
            <span>contact@support.com</span>
          </a>
        </p>
      </div>
   
        <div class="form-container">
          <form method="post" action="#">
                  <input type="text" placeholder="Buscar producto" />
                  <div class="shared-container">
                  <select>
                    <option>One</option>
                    <option>Two</option>
                    <option>Three</option>
                    <option>Four</option>
                    <option>Five</option>
                  </select>
                  <button><i class="fa fa-search"></i></button>
              </div>
          </form>
        </div>
      </div>
  </section>
<!----Section search end-->



  <!------Navbar start-->
  <nav>
    <section class="header">
        <div class="nav-container">
                <div class="logo-container">
                   <div class="logo">
                    <a href="#"><h2>LOGO</h2></a>
                   </div>
                </div>
                <div class="menu-container">
                    <ul>
                      <li class="active"><a href="#">HOME</a></li>
                      <li><a href="#">SHOP</a></li>
                      <li><a href="#">SHORTCODE</a></li>
                      <li><a href="#">FEATURE</a></li>
                      <li><a href="#">PAGES</a></li>
                    </ul>
                </div>
                <div class="cart-container">
                    <div class="cart">
                        <p><i class="fa fa-cart-arrow-down"></i><sup>0</sup> &#36;&nbsp;&nbsp;0.00</p>
                    </div>
                </div>
        </div>
    </section>
</nav>
<!------Navbar end-->