<!----Section information start-->
<section class="header-top">
  <div class="container-info">
      <div class="start-info-container">
          <div class="container-cuenta">
              <ul>
                  <li><a href="#">Cuenta</a></li>
                  <li><a href="#">Verificar</a></li>
                  <li><a href="#">Inicio</a></li>
              </ul>
          </div>
          <div class="container-redes">
              <div class="redes-conten">
                 <a href="#" title="facebook"><i class="fa fa-facebook"></i></a>
                 <a href="#" title="twiter"><i class="fa fa-twitter"></i></a>
                 <a href="#" title="google"><i class="fa fa-google-plus"></i></a>
                 <a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
          </div>
          <div class="container-login">
             <div class="login-conten">
                  <a href="#"><p><span><i class="fa fa-user"></i></span><span class="leter-login">Iniciar sesion</span></p></a>
                  <a href="#"><p><span><i class="fa fa-pencil"></i></span><span class="leter-login">Registrar</span></p></a>
             </div>
          </div>
      </div>
  </div>
</section>
<!----Section information end-->



<!----Section search start-->
<section class="header-catagory">
    <div class="infonav-container">
      <div class="category">
        <p>
          <a href="#"
            ><i class="fa fa-phone"></i> <span>(+593) 000 000 000</span>
          </a>
          <a href="#"
            ><i class="fa fa-envelope-o" aria-hidden="true"></i>
            <span>contact@support.com</span>
          </a>
        </p>
      </div>
   
        <div class="form-container">
          <form method="post" action="#">
                  <input type="text" placeholder="Buscar producto" />
                  <div class="shared-container">
                  <select title="seleccionar">
                    <option>Moda</option>
                    <option>Belleza</option>
                    <option>Tecnología</option>
                    <option>Salud</option>
                  </select>
                  <button type="button" title="buscar"><i class="fa fa-search"></i></button>
              </div>
          </form>
        </div>
      </div>
  </section>
<!----Section search end-->



  <!------Navbar start-->
  <nav>
    <section class="header">
        <div class="nav-container">
                <div class="logo-container">
                   <div class="logo">
                    <a href="#"><h2>LOGO</h2></a>
                   </div>
                </div>
                <div class="menu-container">
                    <ul>
                      <li class="active"><a href="#">Inicio</a></li>
                      <li><a href="#">Tienda</a></li>
                      <li><a href="#">Pedidos</a></li>
                      <li><a href="#">Caracteristicas</a></li>
                      <li><a href="#">Paginas</a></li>
                    </ul>
                </div>
                <div class="cart-container">
                    <div class="cart">
                        <p><i class="fa fa-cart-arrow-down"></i><sup>0</sup> &#36;&nbsp;&nbsp;0.00</p>
                    </div>
                </div>
        </div>
    </section>
</nav>
<!------Navbar end-->