<div class="testimonios-title">
    <h2>Testimonios</h2>
</div>
<div class="testimonials-container">

<figure class="snip1157"> 
    <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ducimus eligendi iste nisi nulla quo saepe molestias tempora quae amet. Cumque modi qui itaque doloribus repellendus aperiam, dolorem vel reprehenderit?.
      <div class="arrow"></div>
    </blockquote>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample3.jpg" alt="sq-sample3" />
    <div class="author">
      <h5>Andres Sanchez <span> ejemplo.com</span></h5>
    </div>
  </figure>
  <figure class="snip1157 hover">
    <blockquote>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A quis ratione inventore pariatur sed, adipisci blanditiis quo eum incidunt ab rerum recusandae obcaecati expedita nemo ea accusantium ipsa nam nihil!.
      <div class="arrow"></div>
    </blockquote>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample27.jpg" alt="sq-sample27" />
    <div class="author">
      <h5>Raul Andrade<span> ejemplo.com</span></h5>
    </div>
  </figure>
  <figure class="snip1157">
    <blockquote>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab veniam nihil nobis reiciendis! Illo, debitis? Totam minima commodi ab molestias atque ad, qui aperiam, in sed doloribus libero fuga. Mollitia?.
      <div class="arrow"></div>
    </blockquote>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample17.jpg" alt="sq-sample17" />
    <div class="author">
      <h5>Damian Gomez<span> ejemplo.com</span></h5>
    </div>
  </figure>

</div>